.liucheng_wrap {
  width: 530px;
  margin: 47px auto;
  text-align: center;
}
.liucheng_wrap .liucheng_item {
  margin-bottom: 50px;
  position: relative;
  background: #fff;
  height: 146px;
}
.liucheng_wrap .liucheng_item .tit {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #535353;
  font-size: 16px;
  color: #fff;
  margin-bottom: 22px;
}
.liucheng_wrap .liucheng_item .liucheng_con {
  padding: 0 24px;
}
.liucheng_wrap .liucheng_item .liucheng_step {
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  line-height: 50px;
  color: #707070;
  display: inline-block;
}
.liucheng_wrap .liucheng_item .arr_right_ora {
  width: 61px;
  height: 12px;
  display: inline-block;
  background: url(../img/icon_right_ora.png);
  margin: 0 10px;
}
.liucheng_wrap .liucheng_item .arr_lef_ora {
  width: 247px;
  height: 12px;
  display: inline-block;
  background: url(../img/icon_arr_lef_ora.png);
  margin: 0 10px;
}
.liucheng_wrap .liucheng_item .arr_down_ora {
  width: 12px;
  height: 44px;
  display: inline-block;
  background: url(../img/icon_arr_down_ora.png);
}
.liucheng_wrap .liucheng_item .arr_down_ora.fir {
  position: absolute;
  right: 67px;
  bottom: -48px;
}
.liucheng_wrap .liucheng_item .arr_down_ora.sec {
  position: absolute;
  left: 64px;
  bottom: -48px;
}